<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test bank</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <script src="metamock.js"></script>
    <script>
      window.mock(31337, "{{ private_keys.[1] }}", "127.0.0.1:8545");
      var appConfig = {
            bankName: "Test bank",
            net: "devnet",
            platformContract: "{{ bankAddress }}",
            publicKey: `{{ publicKey }}`,
      };
    </script>
    </ul>
    <div id="root"></div>
    <script src="index.js"></script>
  </body>
</html>
